*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# PHP CS Fixer cache
.php-cs-fixer.cache

# Code coverage reports
coverage.xml
coverage/
clover.xml

# Static analysis
phpstan.neon
.phpstan.result.cache
/resources/views/vendor
/docker
github_issues.csv
